.login-container {
  min-height: 80vh; /* Ocupa quase a tela toda */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-accent); /* Fundo Bege */
  padding: 2rem;
}

.card-login {
  background-color: white;
  padding: 3rem;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  color: var(--color-text-dark);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-family: sans-serif;
}

.subtitulo {
  color: #666;
  margin-bottom: 2rem;
  font-size: 0.95rem;
}

/* Inputs */
.grupo-input {
  text-align: left;
  margin-bottom: 1.5rem;
}

.grupo-input label {
  display: block;
  font-size: 0.9rem;
  color: var(--color-text-dark);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.grupo-input input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
  box-sizing: border-box; /* Garante que o padding não estoure a largura */
  transition: border-color 0.3s;
}

.grupo-input input:focus {
  border-color: var(--color-secondary); /* Marrom ao focar */
  outline: none;
}

/* Botão */
.btn-entrar {
  width: 100%;
  padding: 14px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #2b1b17;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 1rem;
}

.btn-entrar:hover {
  background-color: #2b1b17; /* Marrom mais escuro */
  color: white;
}

.btn-entrar:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Links e Erros */
.rodape-card {
  margin-top: 2rem;
  font-size: 0.9rem;
}

.rodape-card a {
  color: var(--color-secondary);
  font-weight: bold;
  text-decoration: none;
}

.erro {
  color: #d32f2f;
  background-color: #ffebee;
  padding: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}